@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,300;0,9..40,400;0,9..40,500;1,9..40,300;1,9..40,400&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;1,200&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;

  margin: 0%;
  padding: 0px;
}

@layer components {
  .public-container {
    @apply container mx-auto px-4 md:px-2 lg:px-5 2xl:px-6;
  }
  .sidebar-container{
    @apply container mx-auto px-1 md:px-2 lg:px-1 2xl:px-2;
  }
  .public-g-padding {
    @apply lg:p-5 md:p-4 !p-3;
  }
  .public-gap {
    @apply gap-3 md:gap-5 lg:gap-6;
  }
  .public-card {
    @apply shadow-[rgba(0,0,0,0)_0px_0px_0px_0px,rgba(0,0,0,0)_0px_0px_0px_0px,rgba(48,46,56,0.06)_0px_3px_10px_0px] bg-white rounded-lg md:rounded-[10px] p-3 md:p-5;
  }
  .public-title {
    @apply text-base text-text-primary !capitalize !font-medium;
  }
  .public-large-title {
    @apply text-xl lg:text-2xl text-text-primary !capitalize font-semibold;
  }
  .delay-animation {
    @apply !transition-all !ease-in-out !duration-500;
  }
  .btn-danger {
    @apply bg-primary/80 hover:bg-primary text-white  shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
  }
  .btn-primary {
    @apply bg-primary-blue/80 hover:bg-primary-blue text-white  shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)];
  }
}

.input-field::placeholder {
  color: black;
  font-weight: bold;
}
.ant-picker {
  font-weight: 700;
  border: none;
  outline: none;
  font-size: larger;
  gap: "0px";
}

.ant-picker:focus {
  font-weight: 700;
  border: none;
  outline: none;
}
